<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout">

<th:block layout:fragment="content">
	<div class="col-xs-12 col-md-12 text-center">
		<h4>Hello,
		<span th:text="${#strings.capitalize(userLoggedIn.name)} + ' ' + ${#strings.capitalize(userLoggedIn.lastname)}"></span>
		</h4>
		<b>Your data:</b>
		<br />
		Mail: <span sec:authentication="name"></span>
		<br />
		Role:
		<span th:text="${userLoggedIn.roles[0].name}"></span>
		<hr>
		Welcome to HelpDesk. 
	</div>
</th:block>

</html>