<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout">

<th:block layout:fragment="content">
	<div class="col-xs-12 col-md-12">
		<a href="/tickets" class="btn btn-secondary float-right">Go back</a>
		<a th:href="@{/tickets/edit/{id}(id = ${ticket.id})}" class="btn btn-warning float-right mr-2">Edit this</a>
	</div>
	<div class="col-xs-12 col-md-12">
		<h2>
			Ticket <span th:utext="'#'+${ticket.id}"></span>
			<th:block th:switch="${ticket.finished}">
				<div th:case="${true}" class="badge badge-danger">
					Closed
				</div>
				<div th:case="${false}" class="badge badge-success">
					Open
				</div>
			</th:block>
		</h2>
		<br />

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<b>Created at:</b>
					<span th:text="${#dates.format(ticket.created, 'dd/MM/yyyy H:m')}"></span>
				</li>
				<br />
				<li class="breadcrumb-item">
					<b>Technician:</b>
					<th:block th:switch="${userLoggedIn.name}">
						<th:block th:case="${ticket.technician.name}">
							<span>You</span>
						</th:block>
						<th:block th:case="*">
							<span th:text="${ticket.technician.name}"></span>
						</th:block>
					</th:block>
				</li>
				<li class="breadcrumb-item">
					<b>Author:</b>
					<th:block th:switch="${userLoggedIn.name}">
						<th:block th:case="${ticket.userOpen.name}">
							You
						</th:block>
						<th:block th:case="*">
							<span th:text="${ticket.userOpen.name}"></span>
						</th:block>
					</th:block>
				</li>
			</ol>
		</nav>

		<div class="card" style="padding: 25px 10px; word-break:break-word;">
			<h4 class="card-title">
				<a href="" th:text="${ticket.name}"></a>
			</h4>
			<hr />
			<div class="card-body">
				<p style="white-space:pre-wrap; text-align:justify;" th:utext="${ticket.description}"></p>
			
				<th:block th:if="${ticket.closed} != null">
				<hr />
				<div class="closed">
					<b>Closed date:</b> <span th:text="${#dates.format(ticket.closed, 'dd/MM/yyyy H:m')}"></span>
				</div>
				</th:block>
			
			</div>
		</div>
		
	</div>
	
	<div class="col-xs-12 col-md-12 mt-5">
		<a href="/tickets" class="btn btn-secondary float-right">Return</a>
	</div>
</th:block>
</html>